body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

#container {
  display: grid; 
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  gap: 0px 0px; 
  height: 100vh;
  width: 100vw;
}
#header { 
    grid-area: 1 / 1 / 2 / 21; 
}

#header {
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(1,1fr);
}
#logo-container {
    grid-area : 1/1/1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color: rgb(87, 179, 116);
}
#btn-cart {
    grid-area : 1/17/1/19;
    margin: 6px;
    border: 0px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: 14px;
}
#btn-bookings {
    grid-area : 1/19/1/21;
    margin : 6px;
    border: 0px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: 14px;
}
#content { 
    grid-area: 2 / 1 / 21/ 21;
}
#content {
    display : grid;
    grid-template-columns: repeat(19,1fr);
    grid-template-rows: repeat(20,1fr);
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
}
/*#maintext {
    display : grid;
    grid-template-columns: repeat(19,1fr);
    grid-template-rows: repeat(20,1fr);
    color :whitesmoke;
}*/

#maintext { 
    grid-area: 1 / 4 / 4 / 16;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#Title1 {
    margin-top: 20px;
    font-size: 35px;
}

#Title2 {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#cards { 
    grid-area: 5 / 3 / 15 / 17;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

#card-left {
    background-color: white;
    grid-area: 1/1/9/5;
    border-radius: 10px;
} 

#card-left {
    display: flex;
    flex-direction: column;
} 

#departure{
    padding: 10px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px grey solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: rgb(232, 229, 229);
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
}

#arrival {
    padding:10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(232, 229, 229);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
}

#date {
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    background-color: rgb(232, 229, 229);
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
}
#btn-search {
    padding: 10px;
    margin-top: 190px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    background-color: rgb(87, 179, 116);
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
}

#card-right{
    background-color: white;
    background-color: white;
    grid-area: 1/7/9/11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.trip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

#bookyourtrip {
    padding-top: 50px;
    margin-top: 50px;
    font-size : 20px;
    border-top: 2px rgb(87, 179, 116) solid;
}

#bookyourtrip-img {
    width: 50%;
    height: 50%;
    margin-left: 100px;
    justify-self: center
}




