.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 0.5fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
}

#header { grid-area: 1 / 1 / 2 / 20; }
#maintext { grid-area: 2 / 3 / 5 / 18; }
#cards { grid-area: 6 / 3 / 15 / 18; }
#card-left { grid-area: 6 / 3 / 15 / 9; }
#card-right { grid-area: 6 / 12 / 15 / 18; }
#btn-cart { grid-area: 1 / 16 / 2 / 18; }
#btn-bookings { grid-area: 1 / 18 / 2 / 20; }
#logo { grid-area: 1 / 2 / 2 / 5; }
#departure { grid-area: 6 / 3 / 7 / 9; }
#arrival { grid-area: 7 / 3 / 8 / 9; }
#date { grid-area: 10 / 3 / 11 / 9; }
#btn-search { grid-area: 13 / 3 / 14 / 9; }


